@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.button,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/*---------------        Common      ---------------*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
    font-family: 'Roboto', sans-serif;
}
.clear-top {
    height: 60px;
    width: 100%;
}
.clear-bottom {
    height: 60px;
    width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100% !important;
    display: block;
    height: auto;
}
.section-title {
    text-align: center;
    font-size: 50px;
}
.section-subtitle {
    text-align: center;
    font-weight: 100;
    padding-bottom: 30px;
    position: relative;
    color: #bdc3c7;
}
#grid .mix {
    display: none;
}
.row {
    padding: 20px 0;
}
/* Header */

#header {
    width: 100%;
    min-width: 50%;
    height: auto;
}
#header .topnavbar {
    height: 60px;
}
#header .navbar-header a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.2em;
    color: #fff;
    line-height: 60px;
}
#header .navbar-toggle,
#header .nav {
    margin-top: 22px;
}
#header .fixed-top .navbar-header a {
    line-height: 30px;
    text-decoration: none;
}
#head-nav {
    background-color: #1a9cdc;
}
#header .navbar-nav a,
#header .navbar-nav .active a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 12px;
    margin-right: 12px;
    border-radius: 15px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
}
#header .navbar-header:hover {
    color: #000;
}
#header .navbar-header i {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5em;
}
#header .navbar.topnavbar {
    -webkit-animation: movetextdown 500ms ease;
    -moz-animation: movetextdown 500ms ease;
    -ms-animation: movetextdown 500ms ease;
    -o-animation: movetextdown 500ms ease;
    animation: movetextdown 500ms ease;
}
#header .fixed-top.navbar {
    -webkit-animation: moveBottom 500ms ease;
    -moz-animation: moveBottom 500ms ease;
    -ms-animation: moveBottom 500ms ease;
    -o-animation: moveBottom 500ms ease;
    animation: moveBottom 500ms ease;
}
@keyframes movetextdown {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@-moz-keyframes movetextdown {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@-webkit-keyframes movetextdown {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@-ms-keyframes movetextdown {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@-o-keyframes movetextdown {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@keyframes moveBottom {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@-moz-keyframes moveBottom {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@-webkit-keyframes moveBottom {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@-ms-keyframes moveBottom {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@-o-keyframes moveBottom {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
#header .navbar-header a {
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 60px;
}
#header .fixed-top {
    background: #1a9cdc;
    width: 100%;
    height: 70px;
}
/* end header */

.clear {
    clear: both;
}
/* slider */

.cd-filter {
    /* SVG animation style switcher - not needed in production */
    
    margin-top: 1em;
    text-align: center;
}
.cd-filter li {
    display: inline-block;
    margin: 4px;
}
.cd-filter a {
    display: block;
    border-bottom: 2px solid rgba(76, 92, 98, 0);
    padding: .8em 1em;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #4c5c62;
}
.no-touch .cd-filter a:hover {
    border-bottom: 2px solid rgba(76, 92, 98, 0.6);
}
.cd-filter a.selected {
    color: #00A7E1;
    border-bottom: 2px solid rgba(0, 167, 225, 0.4);
}
.no-touch .cd-filter a.selected:hover {
    border-bottom: 2px solid rgba(0, 167, 225, 0.4);
}
@media only screen and (min-width: 768px) {
    .cd-filter {
        margin-top: 2em;
    }
}
/* -------------------------------- 

Slider

-------------------------------- */
/* -------------------------------- 

Slider

-------------------------------- */

.cd-slider-wrapper {
    position: relative;
    width: 100%;
    height: 95vh;
    /* hide horizontal scrollbar on IE11 */
    
    overflow: hidden;
}
.cd-slider-wrapper .cd-slider,
.cd-slider-wrapper .cd-slider > li {
    height: 100%;
    width: 100%;
}
.cd-slider > li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* used to vertically center its content */
    
    display: table;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cd-slider > li.visible {
    /* selected slide */
    
    position: relative;
    z-index: 2;
    opacity: 1;
}
.cd-slider > li:first-of-type {
    background-color: #D1EBF8;
    background-image: url(../img/img-1.jpg);
}
.cd-slider > li:nth-of-type(2) {
    background-color: #D1EBF8;
    background-image: url(../img/img-2.jpg);
}
.cd-slider > li:nth-of-type(3) {
    background-color: #D1EBF8;
    background-image: url(../img/img-3.jpg);
}
.cd-slider > li:nth-of-type(4) {
    background-color: #D1EBF8;
    background-image: url(../img/img-4.jpg);
}
.cd-slider > li:first-of-type,
.cd-slider > li:nth-of-type(2),
.cd-slider > li:nth-of-type(3),
.cd-slider > li:nth-of-type(4) {
    background-size: cover;
}
.cd-slider > li > div {
    /* vertically center the slider content */
    
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.cd-slider > li h2,
.cd-slider > li p {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    margin: 0 auto 14px;
    color: #ffffff;
    width: 90%;
    max-width: 320px;
}
.cd-slider > li h2 {
    font-size: 2.4rem;
}
.cd-slider > li p {
    font-size: 1.4rem;
    line-height: 1.4;
}
.cd-slider > li .cd-btn {
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 25px;
    border: 2px solid #fff;
    padding: 12px;
    display: inline-block;
    padding: 5px 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
}
.no-touch .cd-slider > li .cd-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 768px) {
    .cd-slider > li h2,
    .cd-slider > li p {
        max-width: 520px;
    }
    .cd-slider > li h2 {
        font-size: 2.4em;
        font-weight: 300;
    }
    .cd-slider > li .cd-btn {
        font-size: 1.4rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-slider > li h2,
    .cd-slider > li p {
        margin-bottom: 20px;
    }
    .cd-slider > li h2 {
        font-size: 3.2em;
    }
    .cd-slider > li p {
        font-size: 15px;
        text-transform: uppercase;
    }
}
/* -------------------------------- 

Slider navigation

-------------------------------- */

.slider-gradient {
    background-image: linear-gradient( rgba(185, 184, 184, 0), rgba(37, 34, 34, 0.5));
}
.logo-slider-4 {
    margin-left: 45%;
}
.cd-slider-controls li:last-of-type a {
    background-position: -48px 0;
}
.cd-slider-controls li a {
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background: url(../img/cd-icon-arrows.svg) no-repeat 0 0;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    border: 2px solid red;
}
.cd-slider-navigation {
    position: absolute;
    bottom: 50px;
    left: 49%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
    width: 90%;
}
.cd-slider-navigation::after {
    clear: both;
    content: "";
    display: table;
}
.cd-slider-navigation li {
    display: inline-block;
    margin-right: 20px;
}
.cd-slider-navigation li:last-of-type {
    margin-right: 0;
}
.cd-slider-navigation a {
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.no-touch .cd-slider-navigation a:hover em {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s, -webkit-transform 0.2s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s, -moz-transform 0.2s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s, transform 0.2s 0s;
}
.cd-slider-navigation li.selected:first-of-type a {
    /* change custom icon using image sprites */
    
    background-position: -10px -70px;
}
.cd-slider-navigation li.selected a {
    background-color: #ffffff;
}
/* -------------------------------- 

svg cover layer

-------------------------------- */

.cd-svg-cover {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.cd-svg-cover path {
    fill: #ffe8c9;
}
.cd-svg-cover.is-animating {
    z-index: 4;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
/* start about page  */

#about .container-full {
    background: #fff;
}
#about .about_content {
    margin-top: 40px;
    min-height: 450px;
}
#about .web_content h2 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
#about .web_content hr {
    width: 90px;
    border-bottom: 2px solid #1a9cdc;
    max-width: 100px;
    margin-left: 42%;
    text-align: center;
}
#about .web_content h6 {
    color: #3c3b3b;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    font-style: italic;
    font-family: Open Sans;
}
#about .web_content h3 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#about .web_content img {
    margin-left: 45%;
}
#about .web_content a {
    color: #ffffff;
    font-size: 24px;
    padding: 12px 32px;
    margin-top: 22px;
}
#about .web_content p {
    color: #3c3b3b;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    font-family: Roboto;
}
/* end about web content */
/* start promotion */

#promotion
/*.container-full*/

{
    background-image: url("../img/bg-full-01.jpg");
    height: auto;
    vertical-align: middle;
    background-size: 61%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: -5%;
    margin-top: 0%;
}
#promotion .promotion_content h3 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
#promotion .promotion_content hr {
    width: 90px;
    border-bottom: 2px solid #1a9cdc;
    max-width: 100px;
}
#promotion .promotion_content p {
    color: #3c3b3b;
    font-size: 15px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}
#promotion .promotion_content ul {
    margin-left: 25px;
}
#promotion .promotion_content li {
    list-style-type: disc;
}
.btn.btn-blue {
    background-color: #1a9cdc;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
    color: #fff;
    margin-top: 35px;
    margin-bottom: 25px;
}
.btn.btn-blue:hover {
    background-color: #fff;
    color: #1a9cdc;
}
/* end promotion */
/* start company-video */

#company-video .container-full {
    background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(37, 34, 34, 0.5)), url("../img/bg-03.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#company-video .container-full:hover {
    background-color: rgba(0, 0, 0, .5);
}
#company-video .container {
    font-size: 25px;
    margin-top: 250px;
    position: relative;
    top: 30%;
    left: 5%;
}
#company-video .container img {
    position: relative;
    top: 30%;
    left: 33%;
}
.video-content {
    position: relative;
    left: -40%;
    margin-left: 50%;
}
.video-content h6 {
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.video-content p {
    font-size: 15px;
    color: #909094;
    font-family: 'Roboto', sans-serif;
    width: 200%;
    font-weight: normal;
    position: relative;
    left: -136%;
    width: 400px;
}
/* end video  */
/* start hp description */

#why .container-full {
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#why .container-full h1 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
#why .container-full hr {
    width: 90px;
    border-bottom: 2px solid #1a9cdc;
    max-width: 100px;
    text-align: center;
    margin-left: 50%;
}
#why .container-full h6 {
    color: #3c3b3b;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    font-style: italic;
    font-family: Open Sans;
}
#why .container-full h3 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#why .container-full img {
    margin-left: 41%;
}
#why .why-content {
    padding-left: 10%;
}
#why .container-full p {
    color: #3c3b3b;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#why .container-full .laptop-image {
    margin: 21% 0% 14% -11%;
    width: 100%;
    height: auto;
}
.description {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/* end hp description */
/* shop-now */

#shop-now-section {
    background: #1a9cdc;
    padding-top: 25px;
    padding-bottom: 25px;
}
#shop-now-section .promotion_content {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}
#shop-now-section .promotion_content h5 {
    font-size: 15px;
}
#shop-now-section .promotion_content p {
    font-size: 13px;
}
.btn-white {
    background: #fff;
    color: #1a9cdc;
    margin-top: 35px;
    margin-bottom: 25px;
}
/* start footer-top */

#footer-top .container-full {
    background: #fff;
    min-width: 50px;
    padding-bottom: 0px;
}
#footer-top .footer-text {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#footer-top h1 {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
#footer-top .footer-text h3 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
#footer-top .footer-text hr {
    width: 90px;
    border-bottom: 2px solid #1a9cdc;
    max-width: 100px;
    text-align: center;
}
#footer-top p {
    color: #3c3b3b;
    font-size: 15px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}
#footer-top a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 50px;
}
/* end footer-top */
/* start footer */

#footer .container-full {
    background: #000;
    min-width: 50%;
    padding-bottom: 10px;
}
#footer .socile {
    margin-top: 22px;
}
#footer .socile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer .socile ul li {
    float: right;
}
#footer .socile ul li a {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 12px;
    padding: 6px 7px;
    color: #fff;
    text-align: center;
    line-height: 28px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
}
#footer .socile ul li a:hover {
    color: #ffffff;
}
#footer .socile a {
    font-size: 26px;
    color: #dad9d9;
    margin-left: 22px;
    line-height: 48px;
    text-decoration: none;
    float: left;
}
#footer .float_left {
    float: left;
    margin-top: 32px
}
#footer p {
    font-size: 16px;
    margin-right: 8px;
    color: #fff;
}
#footer a {
    color: #555f6f;
    text-decoration: none;
    position: relative;
}
#footer a:hover i {
    right: 0px;
    opacity: 1;
}
#footer p a i {
    margin-right: -19px;
    position: absolute;
    right: 28px;
    top: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}
/* end footer */
/* start scrollup */

a#scrollUp {
    bottom: 0px;
    right: 30px;
    padding: 5px 10px;
    background: #1a9cdc;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}
a#scrollUp i {
    font-size: 30px;
}
/* end scrollup */
/* -------------------------------- 

